body{
    align-items: center;
    display: flex;
    text-align: center;
    min-height: 98vh;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(90deg,green,rgb(18, 192, 18));
}

.buttons-container{
    height: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.snake_logo-container{
  background-image: url("../image/snake_logo.png");
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 200px;
  margin: 0 auto;
}

.registration-container{
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.registration{
  font-family: "Press Start 2P", system-ui;
  margin-right: 10px;
  border-radius: 20px;
  border: 2px solid orange;
  transition: all 0.3s ease-in-out;
  height: 50px;
  background-color: yellow;
  font-size: 25px;
}

.registration:hover{
  box-shadow: 1px 1px 7px orange;
  transform: scale(1.1);
}

.apple_count,
.exit,
.start{
  margin-top: 30px;
  font-family: "Press Start 2P", system-ui;
  border-radius: 10px;
  border: 2px solid orange;
  transition: all 0.3s ease-in-out;
  height: 50px;
  background-color: yellow;
  font-size: 25px;
}

.apple_count:hover,
.exit:hover,
.start:hover{
  box-shadow: 1px 1px 7px orange;
  transform: scale(1.1);
}

.menusnake{
  animation: snakeAnim 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgb(153, 245, 153);
  border: 5px solid rgb(153, 245, 153);
  border-radius: 20px;
  position: absolute;
  background-color: #2e2e2e;
  margin: 0 auto;
  height: 600px;
  width: 800px;
  z-index: 10;
}

@media(max-width: 809px){
  .menusnake{
    width: 502px;
    padding: 30px;
  }
}

@media(max-width: 571px){
  .menusnake{
    width: 401px;
  }
  .snake_logo-container{
    width: 401px;
  }
}

@media(max-width: 340px){
  .exit,
  .apple_count,
  .start{
    font-size: 20px;
  }

  .menusnake{
    width: 167px;
    height: 490px;
  }

  .registration{
    margin-right: 0px;
    font-size: 18px;
  }
  
  .snake_logo-container{
    width: 167px;
    height: 123px;
  }

  .buttons-container{
    height: 210px;
  }
}

@media(max-width: 470px){
  .menusnake{
    width: 260px;
  }
  .registration{
    font-size: 22px;
  }
  .snake_logo-container{
    width: 260px;
    height: 191px;
  }
}


@keyframes snakeAnim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#cvs{
  position: absolute;
  margin: 0 auto;
  background-color: rgb(192, 255, 169);
  z-index: 1;
  border: 1px solid black;
}