body{
    align-items: center;
    display: flex;
    text-align: center;
    min-height: 98vh;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(90deg,green,rgb(18, 192, 18));
}

.menusnake{
  animation: snakeAnim 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgb(153, 245, 153);
  border: 5px solid rgb(153, 245, 153);
  border-radius: 20px;
  position: absolute;
  background-color: #2e2e2e;
  margin: 0 auto;
  height: 600px;
  width: 502px;
  z-index: 10;
}

.text-edit-profile{
    font-family: "Press Start 2P", system-ui;
    color: white;
    font-size: 30px; 
    height: 74px;
}

.logo-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo{
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 40%;
  height: 100px;
  width: 100px;  
}
.logo:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px white;
}

#password,
#password_repeat,
#name{
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid orange;
    height: 33px;
    width: 356px;
    margin-top: 20px; 
}

#sumbit{
    margin-top: 15px;
    font-family: "Press Start 2P", system-ui;
    border-radius: 10px;
    border: 2px solid orange;
    transition: all 0.3s ease-in-out;
    height: 50px;
    background-color: yellow;
    font-size: 25px; 
}

#sumbit:hover{
    box-shadow: 1px 1px 7px orange;
    transform: scale(1.1);
}

label{
    margin-top: 15px;
    font-family: "Press Start 2P", system-ui;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px orange;
}

input:focus,
input::placeholder{
    font-family: "Press Start 2P", system-ui;
}

@media(max-width: 809px){
  .menusnake{
    width: 502px;
  }
}

@media(max-width: 571px){
  .menusnake{
    width: 401px;
  }
}

@media(max-width: 340px){
  .menusnake{
    width: 167px;
  }

}

@media(max-width: 470px){
  .menusnake{
    width: 260px;
  }
  #name,
  #password,
  #password_repeat{
    width: 234px;
  }
  .text-edit-profile{
    font-size: 18px;
  }
}



@keyframes snakeAnim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}